# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# pkg folder when using pwd as a Go workspace
pkg/

# build folders and vagrant data dir
build/
.vagrant
